
/* to display the images of car and staff */
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	padding: 0 4px;
}

.column2 {
	margin-bottom: 16px;
	padding: 0 8px;
	margin-left: auto;
	margin-right: auto;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

.card {
	position: relative;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	height: 430px;
	overflow: hidden;
	width: 310px;
}

.card>figure {
	width: 90%;
	margin: 20px auto 0 auto;
}

.card>figure>img {
	width: 100%;
}

.details {
	background-color: #FFF;
	border-radius: 10px;
	padding: 20px;
	position: absolute;
	top: 70%;
	width: 100%;
	transition: box-shadow .3s ease-in-out,
		top .3s ease-in-out;
}

.card:hover .details {
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
	top: 60%;
}

/* end of the css classes used in cars and staff */

h1 {
	background-color: black;
	color: red;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 100;
	text-align: center;
}
/* major container of all web pages for the better screen resolution */
.container {
	margin-left: 20px;
	margin-right: 20px;
}
/* top nav bar of web pages */
.navbar {
	width: 100%;
	background-color: #666;
	overflow: auto;
}

.navbar a {
	float: left;
	padding: 10px;
	color: orange;
	text-decoration: none;
	font-size: 17px;
	width: 24%;
	text-align: center;
}

.navbar a:hover {
	background-color: #3F8EA0;
}


.navbar a.active {
	background-color: red;
}
/* for the responsiveness of nav bar */
@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
}
/* to display the staff */
.staff-section {
	margin-top: 10px;
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
}

.coverpicture {
	position: relative;
	text-align: center;
}
/* main div for the design of contact us page */
.about-main-div {
	width: 100%;
	text-align: center;
}

.about {
	display: flex;
	margin: 0 auto;
	width: 85%;
}

.about-form {
	text-align: left;
	padding-right: 70px;
	align-self: center;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: red;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.contact {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.footer {
	width: 100%;
	margin-top: 28px;
}

.footer-content {
	background-color: black;
	text-align: center;
	color: white;
	padding: 18px 30px;
	font-size: 18px;
	margin-bottom: 10px;
}